/* body {
  background-color: lightgray;
} */

/* header {
  position: absolute;
} */
.nav-2 .nav-link {
  /* color: #e1bd85; */
  color: #1a1a1a;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.nav-2 .nav-link:hover {
  color: #fff;
  background: #1a1a1a;
  transition: all 0.5s linear;
}

.scroll-2 {
  background: #333;
}

.scroll-2 .nav-link {
  color: #fff;
}

.scroll-2 .nav-link:hover {
  color: #fff;
  background-color: #000;
}
